#audi {
	margin:30px;
	height:210px;
	width:100px;
	background-color:#0122FD;
	display: inline-block; 
}

#bmw{
	margin: 30px;
	height:210px;
	width:100px;
	background-color:#12D7BC;
	display: inline-block; 
}

#mercedes{
	margin: 30px;
	height:210px;
	width:100px;
	background-color:#EA006D;
	display: inline-block
}

#lambo{
	margin: 30px;
	height:210px;
	width:100px;
	background-color:#90DB1F;
	display: inline-block;
}

#ferrari{
	margin: 30px;
	height:210px;
	width:100px;
	background-color:#F05800;
	display: inline-block;
}

#porshe{
	margin: 30px;
	height:210px;
	width:100px;
	background-color:#04590F;
	display: inline-block;
}